body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Acumin, Arial, Helvetica,
    sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #ff5000 !important;
  --salmon: #ffdbd0;
  --pink: #ffdbd0;
  --beige: #f7f0f0;
  --white: rgb(247, 239, 240);
  --material-border: 0.5px solid rgb(233, 233, 233);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
